<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewBag.Title</title>
  <link rel="icon" href="~/Content/favicon.ico" />
  <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
  <div>
    @RenderBody()
  </div>
  <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>
